@use "../../scss/" as *;

.playlistPage {
  @include themify($themes) {
    // margin-top: $height-header;
    padding: 0 $space-24;
    &__content {
      width: 100%;
      &__empty {
        @include flex(center, center);
        flex-direction: column;
        & img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: $radius-8;
        }
        & span {
          font-size: $size-18;
          font-weight: $font-light;
          color: themed("txt-main");
          margin-top: $space-16;
          text-align: center;
        }
      }
    }
  }
}
