@use "../../scss/" as *;

.auth {
  @include themify($themes) {
    @include flex(center, center);
    padding: $space-32;
    background-color: themed("bg-2");
    width: 100%;
    .error {
      font-size: $size-16;
      color: $color-red;
      padding: $space-4;
      i {
        margin-right: $space-8;
      }
    }

    &__container {
      width: 380px;
      @include mobile {
        width: 100%;
      }
      &__success {
        @include flex(center, center);
        flex-direction: column;
        gap: $space-8;
        i {
          font-size: 60px;
          color: $color-blue;
        }
        h2 {
          font-size: $size-24;
          color: $color-blue;
        }
        span {
          font-size: $size-18;
          color: $color-blue;
        }
      }
      &__title {
        h2 {
          @include flex(center, center);
          font-size: $size-30;
          color: themed("txt-main");
          margin-bottom: $space-32;
          font-weight: $font-bold;
        }
      }

      &__step {
        margin-bottom: $space-32;
        & > .progressbar {
          width: 100%;
          height: 4px;
          border-radius: $space-4;
          background-color: themed("txt-second");
          & > .progressbar__value {
            // inline-size: 33.3333%;
            transition: inline-size 200ms ease 0s;
            background-color: $color-primary1;
            block-size: 4px;
          }
        }

        &__main {
          @include flex(center, unset);
          padding: $space-14 0;
          & > .button {
            margin-right: $space-8;
            cursor: pointer;
            padding: $space-12;
            border-radius: 50%;
            transition: $transition;
            &:hover {
              background-color: $color-hover;
            }
            i {
              --size: 20px;
              width: var(--size);
              height: var(--size);
              @include flex(center, center);
              font-size: $size-18;
              color: themed("txt-main");
            }
          }
          & > .title {
            span {
              font-size: $size-16;
              color: themed("txt-second");
            }
            h4 {
              font-size: $size-16;
              color: themed("txt-main");
            }
          }
        }
      }

      &__group {
        margin-bottom: $space-12;
        @include flex(unset, unset);
        flex-direction: column;
        // gap: $space-12;
        & > .title {
          font-size: $size-16;
          font-weight: $font-medium;
          color: themed("txt-main");
        }

        & > .input {
          background-color: themed("bg-1");
          padding: $space-18 $space-24;
          border-radius: $radius-8;
          position: relative;
          margin: $space-8 0;
          &.error {
            border: 1.4px solid $color-red;
          }
          input {
            font-size: $size-16;
            font-weight: $font-light;
            color: themed("txt-main");
            width: 100%;
          }
          .tooglePassword {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            cursor: pointer;
            color: themed("txt-main");
          }
        }

        & > .input__gender {
          @include flex(center, unset);
          gap: $space-12;
          margin: $space-12 0;
          & > .input__gender__item {
            & > input {
              display: none;
              &:checked {
                & + label .btn {
                  border: 3px solid $color-primary1;
                }
              }
            }
            & > label {
              @include flex(center, unset);
              gap: $space-8;
              cursor: pointer;
              & > .btn {
                box-sizing: border-box;
                -webkit-tap-highlight-color: transparent;
                background: transparent;
                border-radius: 50%;
                display: inline-block;
                block-size: 16px;
                user-select: none;
                inline-size: 16px;
                flex-shrink: 0;
                top: 0px;
                position: relative;
                border: 1px solid themed("txt-main");
                background-color: transparent;
              }
              & > .title {
                font-size: $size-16;
                color: themed("txt-main");
              }
            }
          }
        }

        & > .error {
          i {
            font-size: $size-18;
            margin-right: $space-8;
            color: $color-red;
          }
          span {
            font-size: $size-16;
            color: $color-red;
          }
        }

        & > .desc {
          h4 {
            font-size: $size-14;
            font-weight: $font-medium;
            color: themed("txt-main");
            margin-bottom: $space-4;
          }

          span {
            font-size: $size-14;
            font-weight: $font-light;
            color: themed("txt-second");
          }

          ul {
            li {
              @include flex(center, unset);
              gap: $space-8;
              margin-bottom: $space-4;
              color: themed("txt-second");
              span {
                font-size: $size-14;
                font-weight: $font-light;
              }
              i {
                // border: 3px solid $color-primary1;
                color: $color-primary1;
                font-size: $size-16;
              }
            }
          }
        }

        & > .btn_submit {
          background-color: $color-primary1;
          width: 100%;
          padding: $space-12 $space-14;
          border-radius: $radius-25;
          font-size: $size-16;
          color: $color-white;
          font-weight: $font-medium;
          cursor: pointer;
          transition: $transition;
          margin-top: $space-32;
          &:hover {
            transform: scale(1.01);
          }
        }

        & > .forgot {
          //   text-align: right;
          @include flex(center, center);
          font-size: $size-16;
          color: themed("txt-second");
          font-weight: $font-light;
          text-decoration: underline;
          cursor: pointer;
          display: block;
          &:hover {
            color: $color-primary1;
          }
        }

        & > .auth__navigation {
          text-align: right;
          font-size: $size-16;
          color: themed("txt-second");
          font-weight: $font-light;
          display: block;
          @include flex(center, center);
          gap: $space-8;
          margin: $space-12 0;
          a {
            text-decoration: underline;
            cursor: pointer;

            &:hover {
              color: $color-primary1;
            }
          }
        }
      }
    }
  }
}
