@use "../../scss/" as *;

.Modal {
  @include themify($themes) {
    width: 100%;
    height: 100%;
    background-color: $color-overlay;
    position: fixed;
    top: 0;
    left: 0;
    @include flex(center, center);
    z-index: 99;
    transform: translateY(-100%);
    &.active {
      transform: translateY(0);
    }

    &__wrapper {
      background-color: themed("bg-1");
      border-radius: $radius-8;
      width: max-content;
      min-height: 400px;
      min-width: 400px;
      // overflow: hidden;
      animation: fadeIn linear 0.1s;
      position: relative;

      @include mobile {
        width: 100%;
        border-radius: 0;
        max-height: 100%;
        height: 100%;
        min-width: 100%;
      }

      &__header {
        @include flex(center, space-between, row);
        padding: $space-12 $space-8 $space-12 $space-24;
        h3 {
          font-size: $size-20;
          font-weight: $font-bold;
          color: themed("txt-main");
        }
        .btn_close {
          border-radius: 50%;
          overflow: hidden;
          color: themed("txt-main");
          cursor: pointer;
          &:hover {
            background-color: $color-hover;
          }
          i {
            --size: 36px;
            width: var(--size);
            height: var(--size);
            @include flex(center, center);
            font-size: $size-20;
          }
        }
      }

      &__body {
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
