@use "../../scss/" as *;

.Modal {
  @include themify($themes) {
    /* width */
    ::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: themed("bg-3");
      border: none;
    }

    width: 100%;
    height: 100%;
    background-color: $color-overlay;
    position: fixed;
    top: 0;
    left: 0;
    @include flex(center, center);
    z-index: 99;
    transform: translateY(-200%);

    &.active {
      transform: translateY(0);
    }

    &__wrapper {
      background-color: themed("bg-1");
      border-radius: $radius-8;
      width: max-content;
      min-height: 100px;
      min-width: 400px;
      // overflow: hidden;
      animation: fadeIn linear 0.1s;
      position: relative;

      @include mobile {
        width: 100%;
        border-radius: 0;
        max-height: 100%;
        height: 100%;
        min-width: 100%;
      }

      &__header {
        @include flex(center, space-between, row);
        padding: 0 $space-8 0 $space-24;
        height: $height-header-modal;
        h3 {
          font-size: $size-20;
          font-weight: $font-bold;
          color: themed("txt-main");
        }
        &.not-title {
          height: 0;
        }

        .btn_close {
          border-radius: 50%;
          overflow: hidden;
          color: themed("txt-main");
          cursor: pointer;
          &.not-title {
            // margin-left: $space-8;
            position: absolute;
            top: -16px;
            right: -16px;
          }
          &:hover {
            background-color: $color-hover;
          }
          i {
            --size: 36px;
            width: var(--size);
            height: var(--size);
            @include flex(center, center);
            font-size: $size-20;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
