@use "../../scss/" as *;

.home {
  @include themify($themes) {
    padding: 0 $space-32;
    min-height: 1000px;
    overflow: hidden;
    position: relative;
    padding-top: $height-header;
    margin-bottom: $space-32;

    @include tablet {
      padding: 0 $space_12;
      padding-top: $height-header;
    }
    @include mobile {
      padding: 0 $space-8;
      padding-top: $height-header;
    }
  }
}
