@use "../../scss/" as *;

.home {
  @include themify($themes) {
    padding: 0 $space-32;
    min-height: 1000px;
    overflow: hidden;
    position: relative;
    padding-top: $height-header;

    @include tablet {
      padding: $space_12;
    }
    @include mobile {
      padding: $space-8;
    }
  }
}
