@use "../../scss/" as *;

.home {
  @include themify($themes) {
    min-height: 1000px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: $space-12;
    padding: 0 $space-32;
    @include tablet {
      padding: 0 $space-24;
    }
    @include mobile {
      padding: 0 $space-12;
    }
  }
}
