@use "../../scss/" as *;

.track {
  @include themify($themes) {
    &__wrapper {
      @include flex(center, space-between);
      padding: $space-8 $space-14;
      border-radius: $radius-8;
      cursor: pointer;
      margin-bottom: $space-8;
      @include mobile {
        padding: $space-8;
      }
      &.active {
        background-color: $color-hover;
      }
      &:hover {
        background-color: $color-hover;
        & .button-play {
          display: block;
        }

        & .item__hover {
          visibility: visible;
        }
      }

      &__left {
        @include flex(center, unset);
        gap: $space-8;
        // width: 50%;
        &__number {
          padding: 0 $space-4;
          @include flex(center, center);
          width: 30px;
          position: relative;
          h4 {
            position: absolute;
            right: 0;
            margin-right: $space-8;
            font-size: $size-18;
            color: themed("txt-main");
            font-weight: $font-light;
          }
        }
        &__image {
          --size: 60px;
          min-width: var(--size);
          min-height: var(--size);
          width: var(--size);
          height: var(--size);
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            border-radius: $radius-8;
            background-color: themed("bg-2");
          }
          .button-play {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            @include flex(center, center);
            background-color: themed("bg-rgba");
            cursor: pointer;
            display: none;
            i {
              color: themed("txt-main");
              font-size: $size-24;
            }
            &.active {
              display: block;
            }
          }
        }
        &__desc {
          &__title {
            font-size: $size-16;
            font-weight: $font-light;
            color: themed("txt-main");
            @include text(1);
            transition: $transition;
            &:hover {
              text-decoration: underline;
            }
          }
          &__artists {
            @include flex(center, unset);
            @include text(1);
            a {
              font-size: $size-14;
              font-weight: $font-light;
              color: themed("txt-second");
              position: relative;
              padding-right: 4px;
              display: inline-block;
              transition: $transition;
              &:not(:last-child)::after {
                content: ", ";
              }
              &:hover {
                text-decoration: underline;
              }
            }
          }
          &__quantity {
            color: themed("txt-second");
            font-size: $size-14;
          }
        }
      }

      &__center {
        &__date {
          font-size: $size-16;
          color: themed("txt-second");
          font-weight: $font-light;
          @include text(1);
        }
      }

      &__count {
        font-size: $size-16;
        color: themed("txt-second");
        font-weight: $font-light;
        @include text(1);
      }

      &__right {
        @include flex(center, center);
        gap: $space-8;
        justify-content: end;

        & > .item__default {
          visibility: visible;
          span {
            font-size: $size-16;
            font-weight: $font-light;
            color: themed("txt-second");
          }
        }

        & > .item__hover {
          @include flex(center, center);
          visibility: hidden;
          gap: $space-8;
          .button-like {
            cursor: pointer;
            color: themed("txt-main");
            border-radius: 50%;
            &.active {
              color: $color-red;
              visibility: visible;
            }
            &:hover {
              background-color: $color-hover;
            }
            i {
              --size: 36px;
              width: var(--size);
              height: var(--size);
              @include flex(center, center);
              font-size: $size-18;
            }
          }

          .button-edit {
            position: relative;
            
            &.active {
              visibility: visible;
              color: $color-red;
            }
            

            .SongMenu__button {
              cursor: pointer;
              color: themed("txt-main");
              border-radius: 50%;
              &:hover {
                background-color: $color-hover;
              }
              & > i {
                --size: 36px;
                width: var(--size);
                height: var(--size);
                @include flex(center, center);
                font-size: $size-18;
              }
            }
          }
        }
      }
    }
  }
}
