@use "../../scss/" as *;

.wattingList {
  @include themify($themes) {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    height: calc(100vh - $height-barPlaying);
    width: 100vw;
    background-color: themed("bg-rgba");
    @include flex(end, end, row);
    visibility: hidden;
    &.open {
      visibility: visible;
    }
    &__wrapper {
      min-width: 420px;
      height: calc(100vh - $height-barPlaying);
      z-index: 100;
      background-color: themed("bg-2");
      transition: transform 0.3s ease-in-out;
      padding: $space-16 $space-14;
      overflow-x: hidden;
      display: none;
      &.open {
        display: block;
      }

      &__header {
        @include flex(center, space-between, row);
        margin-bottom: $space-16;
        h3 {
          font-size: $size-18;
          font-weight: $font-medium;
          color: themed("txt-main");
        }
        button {
          border-radius: 50%;
          overflow: hidden;
          color: themed("txt-main");
          cursor: pointer;
          &:hover {
            background-color: $color-hover;
          }
          i {
            --size: 36px;
            width: var(--size);
            height: var(--size);
            @include flex(center, center);
            font-size: $size-18;
          }
        }
      }

      &__body {
        @include flex(start, start, column);
        gap: $space-8;
        width: 100%;
        &__item {
          background-color: themed("bg-2");
        }
      }
    }
  }
}
