@use "../../scss/" as *;

.wattingList {
  @include themify($themes) {
    &__wrapper {
      position: relative;
      width: 100%;
      z-index: 100;
      background-color: themed("bg-2");
      transition: transform 0.3s ease-in-out;
      display: none;
      @include mobile {
        // height: 100vh;
        // width: 100vw;
        // min-width: 100%;
        display: none;
      }
      &.open {
        display: block;
      }

      &__header {
        @include flex(center, space-between, row);
        background-color: themed("bg-2");
        z-index: 1;
        width: 100%;
        height: 60px;
        padding: $space-16 $space-14;
        h3 {
          font-size: $size-18;
          font-weight: $font-medium;
          color: themed("txt-main");
        }
        &__list {
          @include flex(center, center, row);
          gap: $space-8;
          button {
            border-radius: 50%;
            overflow: hidden;
            color: themed("txt-main");
            cursor: pointer;
            @include tooltip(bottom, center);
            &:hover {
              background-color: $color-hover;
            }
            i {
              --size: 36px;
              width: var(--size);
              height: var(--size);
              @include flex(center, center);
              font-size: $size-18;
            }
          }
        }
      }

      &__body {
        @include flex(start, start, column);
        gap: $space-8;
        width: 100%;
        padding: 0 $space-8;
        overflow-y: scroll;
        overflow-x: visible;
        height: calc(100vh - $height-barPlaying - 60px);

        &__list {
          width: 100%;
          &__item {
            background-color: themed("bg-2");
            width: 100%;
            .title__nextSong {
              padding: $space-4 $space-8;
              h4 {
                font-size: $size-16;
                color: themed("txt-main");
              }
            }

            &.play {
              z-index: 2;
              position: sticky;
              top: 0;
              // top: 60px;
            }
          }
        }
      }
    }
  }
}
