@use "./scss/" as *;

html {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid #fff;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    position: absolute;
    right: -3rem;
    top: -50rem;
    background: transparent;
  }

  ::-webkit-scrollbar-track-piece:start {
    background: transparent;
  }

  ::-webkit-scrollbar-track-piece:end {
    background: transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

// tắc hiển thị lỗi
// iframe {
//   display: none;
// }

ol,
ul {
  list-style: none;
}

button,
input {
  background-color: unset;
  outline: unset;
  border: unset;
}

body {
  max-width: 100vw;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: unset;
}

hr {
  @include themify($themes) {
    border: none;
    border-top: 1px solid themed("border");
    margin: 2px 0;
  }
}
