@use "../../scss/" as *;

.recently {
  @include themify($themes) {
    &__container {
      padding: 0 $space-24;
      @include tablet {
        padding: 0 $space-14;
      }
      @include mobile {
        padding: 0 $space-12;
      }

      &__body{
        &__list{
            flex-wrap: wrap;
        }
        &__loadMore {
          width: 100%;
          @include flex(center, center);
          margin-top: $space-24;
          button {
            font-size: $radius-16;
            color: themed("txt-main");
            padding: $space-8 $space-16;
            border-radius: $radius-10;
            background-color: themed("bg-2");
            cursor: pointer;
            border: 1px solid themed("bg-3");
            transition: $transition;
            &:hover {
              background-color: themed("bg-3");
            }
          }
        }
      }
    }
  }
}
