@use "../../scss/" as *;

.commentItem {
  @include themify($themes) {
    &__main {
      @include flex(start, unset);
      width: 100%;
      // gap: $space-12;
      &__avatar {
        --size: 40px;
        width: var(--size);
        height: var(--size);
        min-width: var(--size);
        min-height: var(--size);
        margin-right: $space-10;
        position: relative;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          overflow: hidden;
          background-color: themed("bg-2");
        }
        & > .line {
          position: absolute;
          width: 2px;
          height: 100%;
          background-color: themed("txt-second");
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &__content {
        flex: 1;
        &__top {
          @include flex(center, start);
          gap: $space-12;
          &__info {
            background-color: themed("bg-2");
            padding: $space-8 $space-12;
            border-radius: $space-14;
            &__top {
              @include flex(center, unset);
              flex-direction: row;
              gap: $space-8;
              a {
                cursor: pointer;
                font-size: $size-16;
                color: themed("txt-main");
                font-weight: $font-medium;
                display: block;
              }
              & > span {
                font-size: $size-14;
                color: themed("txt-main");
                font-weight: $font-light;
              }
            }
            & > span {
              font-size: $size-16;
              color: themed("txt-main");
              font-weight: $font-light;
            }
          }
          &__more {
            @include flex(center, unset);
            flex-direction: column;
            & .btn-more {
              position: relative;

              & > button.active {
                i {
                  background-color: themed("bg-2");
                }
              }

              & > button i {
                &:hover {
                  background-color: themed("bg-2");
                }
                --size: 28px;
                width: var(--size);
                height: var(--size);
                @include flex(center, center);
                border-radius: 50%;
                color: themed("txt-second");
                font-size: $size-16;
                transition: all 0.3s;
                cursor: pointer;
              }
              &__list {
                position: absolute;
                top: calc(100% + 8px);
                right: 50%;
                // left: 50%;
                transform: translateX(50%);
                background-color: themed("bg-2");
                width: max-content;
                padding: $space-4 0;
                border-radius: $radius-4;
                box-shadow: themed("box-shadow");
                z-index: 2;
                // display: none;
                &::before {
                  content: "";
                  position: absolute;
                  right: 50%;
                  transform: translateX(50%);
                  bottom: calc(100% - 2px);
                  // height: 12px;
                  border-bottom: 8px solid themed("bg-2");
                  border-left: 10px solid transparent;
                  border-right: 10px solid transparent;
                }
                ul {
                  li {
                    @include flex(center, unset);
                    gap: $space-12;
                    padding: $space-8 $space-12;
                    color: themed("txt-main");
                    cursor: pointer;
                    text-align: left;
                    font-size: $size-14;
                    i {
                      font-size: $size-14;
                      color: themed("txt-main");
                    }
                    &:hover {
                      background-color: $color-hover;
                    }
                  }
                }
              }
            }
          }
        }

        &__bottom {
          @include flex(space-between, unset);
          gap: $space-12;
          padding-left: $space-12;
          margin-top: $space-4;
          &__left {
            gap: $space-12;
            @include flex(start, unset);
            button {
              &.active span {
                color: $color-primary1;
              }
            }

            span {
              font-size: $size-14;
              color: themed("txt-second");
              font-weight: $font-medium;
            }

            &__reply,
            &__like {
              cursor: pointer;
              &:hover {
                span {
                  text-decoration: underline;
                }
              }
            }
          }
          &__right {
            button {
              @include flex(center, center);
              gap: 2px;
              span {
                font-size: 12px;
                color: themed("txt-second");
                font-weight: $font-light;
              }
              i {
                // --size: 18px;
                // width: var(--size);
                // height: var(--size);
                font-size: 16px;
                color: $color-primary1;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }

    &__reply {
      margin-left: 50px;
      padding: $space-8 0;
      // border-left: 2px solid themed("bg-2");
      &__btn {
        font-size: $size-14;
        color: themed("txt-second");
        font-weight: $font-medium;
        cursor: pointer;
        transition: all 0.3s;
        @include flex(center, unset, row);
        .line {
          width: 30px;
          height: 1.2px;
          background-color: themed("txt-second");
          margin-right: $space-8;
        }
        &:hover {
          color: themed("txt-main");
        }
      }
    }
  }
}
