@use "../../scss/" as *;

.loading {
  @include themify($themes) {
    &__wrapper {
      height: 100vh;
      width: 100vw;
      @include flex(center, center);
      z-index: 100;
      background-color: rgba($color: themed("bg-1"), $alpha: 0.8);
      position: fixed;
      top: 0;
      right: 0;
      i {
        font-size: 60px;
        color: themed("txt-main");
        animation: rotation 1s linear infinite;
      }

      .loader {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: block;
        margin: 15px auto;
        position: relative;
        color: $color-primary1;
        box-sizing: border-box;
        animation: animloader 1s linear infinite;
      }

      @keyframes animloader {
        0% {
          box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px,
            -38px 0 0 -2px;
        }
        25% {
          box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px,
            -38px 0 0 2px;
        }
        50% {
          box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px,
            -38px 0 0 -2px;
        }
        75% {
          box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px,
            -38px 0 0 -2px;
        }
        100% {
          box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px,
            -38px 0 0 -2px;
        }
      }
    }
  }
}

.button-loading {
  @include themify($themes) {
    .spinner {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: radial-gradient(farthest-side, $color-primary1 94%, #0000) top/9px 9px
          no-repeat,
        conic-gradient(#0000 30%, $color-primary1);
      -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(100% - 9px),
        #000 0
      );
      animation: spinner-c7wet2 1s infinite linear;
    }
  }
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
