@use "../../../scss/" as *;

.SongMenu {
  @include themify($themes) {
    /* width */
    ::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: themed("bg-3");
      border: none;
    }

    // &[data-placement="top-start"] {
    //   transform: translateY(-100%);
    // }
    // &[data-placement="top-end"] {
    //   transform: translate(-100%, -100%);
    // }
    // &[data-placement="bottom-start"] {
    //   // transform: translateX(100%);
    // }
    // &[data-placement="bottom-end"] {
    //   transform: translateX(-100%);
    // }

    &.active {
      display: flex;
      position: absolute;
      z-index: 999;
    }

    &__context {
      background-color: themed("bg-2");
      width: max-content;
      padding: $space-4;
      border-radius: $radius-8;
      box-shadow: themed("box-shadow");

      @include mobile {
        top: $height-header !important;
        width: 100%;
        height: calc(100vh - $height-header - $height-barPlaying);
        justify-content: space-between;
        flex-direction: column;
      }

      &__list {
        @include flex(start, unset);
        flex-direction: column;
        hr {
          width: 100%;
          border-top: 1px solid themed("border");
        }

        &__item {
          width: 100%;
          position: relative;

          & > button {
            --size: 44px;
            height: var(--size);
            cursor: pointer;
            padding: 0 $space-12;
            border-radius: $radius-4;
            @include flex(center, start);
            gap: $space-8;
            width: 100%;
            transition: $transition;

            &:hover {
              background-color: themed("bg-3");
            }
            i {
              font-size: $size-16;
              color: themed("txt-second");
            }

            span {
              font-size: $size-16;
              transition: all 0.3s;
              color: themed("txt-main");
            }

            .icon-subMenu {
              margin-left: auto;
              font-size: $size-16;
              color: themed("txt-second");
            }
          }

          .SongMenu__submenu {
            position: absolute;
            min-width: 100%;
            max-width: 300px;
            background-color: themed("bg-2");
            padding: $space-4;
            border-radius: $radius-8;
            box-shadow: themed("box-shadow");
            @include flex(start, start, column);

            height: 400px;
            overflow-y: auto;

            &[data-placement="top-start"] {
              top: 0;
              right: 100%;
            }
            &[data-placement="bottom-start"] {
              top: 0;
              left: 100%;
            }
            &[data-placement="top-end"] {
              top: 0;
              right: 100%;
            }
            &[data-placement="bottom-end"] {
              top: 0;
              right: 100%;
            }

            &__search {
              @include flex(start, center, row);
              width: 100%;
              padding: $space-12;
              background-color: themed("bg-3");
              border-radius: $radius-6;
              gap: $space-4;
              margin-bottom: $space-4;
              position: relative;

              i {
                font-size: $size-16;
                color: themed("txt-main");
              }
              input {
                width: 240px;
                font-size: $size-16;
                color: themed("txt-main");
                padding-right: 20px;
              }

              .btn_clear {
                cursor: pointer;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);

                i {
                  --size: 20px;
                  width: var(--size);
                  height: var(--size);
                  border-radius: 50%;
                  font-size: $size-16;
                  @include flex(center, center);
                  color: themed("txt-second");
                  transition: all 0.3s;
                  &:hover {
                    background-color: themed("bg-2");
                  }
                }
              }
            }

            .SongMenu__submenu__item {
              min-height: 44px;
              cursor: pointer;
              padding: 0 $space-12;
              border-radius: $radius-4;
              @include flex(center, start);
              gap: $space-8;
              width: 100%;
              transition: $transition;

              &:hover {
                .icon-remove {
                  display: block;
                }
                .icon-check {
                  display: none;
                }
              }

              &__image {
                --size: 34px;
                height: var(--size);
                width: var(--size);
                overflow: hidden;
                background-color: themed("bg-3");
                border-radius: $radius-4;
                border: 1px solid themed("bg-2");
                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }

              &__body {
                flex: 1;
                @include flex(start, center, column);
                span {
                  font-size: $size-16;
                  color: themed("txt-main");
                  @include text(1);
                }
              }

              &:hover {
                background-color: themed("bg-3");
              }

              i {
                font-size: $size-16;
                color: themed("txt-second");
                transition: $transition;

                &.icon-remove {
                  color: $color-red;
                  display: none;
                }
                &.icon-check {
                  color: $color-green;
                }
                &.icon-add {
                  color: $color-primary1;
                }
              }

              span {
                font-size: $size-16;
                transition: all 0.3s;
                color: themed("txt-main");
              }
            }
          }
        }
      }

      .btn-close {
        margin-top: auto;
        width: 100%;
        text-align: center;
        padding: $space-12 $space-16;
        cursor: pointer;
        display: none;
        @include mobile {
          display: block;
        }
        span {
          font-size: $size-16;
          color: themed("txt-main");
        }
      }
    }
  }
}
