@use "../../../scss/" as *;

.SongMenu {
  @include themify($themes) {
    &__context {
      position: absolute;
      background-color: themed("bg-2");
      width: max-content;
      padding: $space-4;
      border-radius: $radius-8;
      z-index: 10;
      display: none;
      &[data-placement="top-start"] {
        bottom: 100%;
        left: 0;
      }
      &[data-placement="bottom-start"] {
        top: 100%;
        left: 0;
      }
      &[data-placement="top-end"] {
        bottom: 100%;
        right: 0;
      }
      &[data-placement="bottom-end"] {
        top: 100%;
        right: 0;
      }

      &.active {
        display: block;
      }
      &__list {
        @include flex(start, unset);
        flex-direction: column;
        hr {
          width: 100%;
          border-top: 1px solid themed("border");
        }

        &__item {
          width: 100%;
          position: relative;

          & > button {
            cursor: pointer;
            padding: $space-12;
            border-radius: $radius-4;
            @include flex(center, start);
            gap: $space-8;
            width: 100%;
            transition: $transition;

            &:hover {
              background-color: themed("bg-3");
            }
            i {
              font-size: $size-16;
              color: themed("txt-second");
            }

            span {
              font-size: $size-16;
              transition: all 0.3s;
              color: themed("txt-main");
            }

            .icon-subMenu {
              margin-left: auto;
              font-size: $size-16;
              color: themed("txt-second");
            }
          }

          .SongMenu__submenu {
            position: absolute;
            min-width: 100%;
            background-color: themed("bg-2");
            padding: $space-4;
            border-radius: $radius-8;
            box-shadow: themed("box-shadow");
            @include flex(start, start, column);

            height: 400px;
            overflow-y: auto;

            &[data-placement="top-start"] {
              top: 0;
              right: 100%;
            }
            &[data-placement="bottom-start"] {
              top: 0;
              left: 100%;
            }
            &[data-placement="top-end"] {
              top: 0;
              right: 100%;
            }
            &[data-placement="bottom-end"] {
              top: 0;
              right: 100%;
            }

            &__search {
              @include flex(center, center, row);
              width: 100%;
              padding: $space-12;
              background-color: themed("bg-3");
              border-radius: $radius-6;
              gap: $space-4;
              margin-bottom: $space-4;
              position: relative;

              i {
                font-size: $size-16;
                color: themed("txt-main");
              }
              input {
                width: 240px;
                font-size: $size-16;
                color: themed("txt-main");
                padding-right: 20px;
              }

              .btn_clear {
                cursor: pointer;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);

                
                i {
                  --size: 20px;
                  width: var(--size);
                  height: var(--size);
                  border-radius: 50%;
                  font-size: $size-16;
                  @include flex(center, center);  
                  color: themed("txt-second");
                  transition: all 0.3s;
                  &:hover {
                    background-color: themed("bg-2");
                  }
                }
              }
            }

            & > button {
              cursor: pointer;
              padding: $space-12;
              border-radius: $radius-4;
              @include flex(center, start);
              gap: $space-8;
              width: 100%;
              transition: $transition;

              &:hover {
                background-color: themed("bg-3");
              }
              i {
                font-size: $size-16;
                color: themed("txt-second");
              }

              span {
                font-size: $size-16;
                transition: all 0.3s;
                color: themed("txt-main");
              }
            }
          }
        }
      }
    }
  }
}
