@use "../../scss/" as *;

.UploadPage {
  @include themify($themes) {
    padding: 0 $space-24;

    @include flex(center, center, unset);

    @include tablet {
      padding: 0 $space-14;
    }

    @include mobile {
      padding: 0 $space-12;
    }

    &__body {
      height: 100%;
      width: 80%;
      background-color: themed("bg-1");
      border-radius: $radius-8;
      border: 1px solid themed("border");
      box-shadow: themed("box-shadow");

      @include mobile {
        width: 100%;
      }

      @include tablet {
        width: 100%;
      }

      .div-drag {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        input {
          width: 100%;
          height: 100%;
          opacity: 0;
          // background-color: turquoise;
        }
      }
    }
  }
}

@keyframes dropAnimation {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
