@use "../../scss/" as *;

.TrackShort {
  @include themify($themes) {
    @include flex(center, center, row);
    padding: $space-8;
    border-radius: $radius-8;
    width: 100%;
    transition: $transition;
    cursor: pointer;
    position: relative;
    margin-bottom: $space-8;
    // background-color: themed("bg-2");
    
    &::before {
      border-bottom: 1px solid themed("bg-2");
      position: absolute;
      bottom: 0;
    }
    &:hover {
      background-color: $color-hover;
    }
    &:hover {
      background-color: $color-hover;
      .item-hover {
        display: flex;
      }
      .item-listen {
        display: none;
      }

      & .button-play {
        display: block;
      }

      & .item__hover {
        visibility: visible;
      }
    }
    &.play {
      background-color: $color-hover;
    }
    &.activeMenu {
      background-color: $color-hover;
      .item-hover {
        display: flex;
      }
      .item-listen {
        display: none;
      }
    }
    &__left {
      @include flex(center, start, row);
      flex: 1;
      gap: $space-4;
      &__num {
        @include flex(center, start, row);
        margin-right: $space-8;
        gap: $space-4;
        & > h2 {
          font-size: $size-30;
          color: $color-primary2;
          // color: themed("txt-main");
          font-weight: $font-bold;
        }
        & > .line {
          width: 16px;
          height: 2px;
          // background-color: themed("txt-main");
          background-color: $color-primary2;
          border-radius: 4px;
        }
        @include tablet {
          & > h2 {
            font-size: $size-24;
          }
        }
        @include mobile {
          & > h2 {
            font-size: $size-20;
          }
        }
      }
      &__image {
        --size: 60px;
        min-width: var(--size);
        min-height: var(--size);
        width: var(--size);
        height: var(--size);
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
          border-radius: $radius-8;
          background-color: themed("bg-2");
        }
        & > .button-play {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          @include flex(center, center);
          background-color: themed("bg-rgba");
          cursor: pointer;
          display: none;
          i {
            color: themed("txt-main");
            font-size: $size-24;
          }
          &.active {
            display: block;
          }
        }
      }
      &__desc {
        flex: 1;
        h2 {
          color: themed("txt-main");
          font-size: $size-16;
          font-weight: $font-light;
          @include text(1);
        }
        & > span {
          color: themed("txt-second");
          font-size: $size-14;
          font-weight: $font-light;
          @include text(1);
        }
      }
    }
    &__right {
      width: 100px;
      @include flex(end, center, column);

      & > .item-hover {
        @include flex(center, center, row);
        gap: $space-4;
        display: none;
        & > .button-like {
          border-radius: 50%;
          cursor: pointer;
          color: themed("txt-main");
          &:hover {
            background-color: $color-hover;
          }
          i {
            --size: 36px;
            width: var(--size);
            height: var(--size);
            @include flex(center, center);
            font-size: $size-18;
          }
          &.active {
            color: $color-primary1;
          }
        }
        & > .button-edit {
          position: relative;
          &.active {
            visibility: visible;
            color: $color-red;
          }
          .SongMenu__button {
            cursor: pointer;
            color: themed("txt-main");
            border-radius: 50%;
            &:hover {
              background-color: $color-hover;
            }
            & > i {
              --size: 36px;
              width: var(--size);
              height: var(--size);
              @include flex(center, center);
              font-size: $size-18;
            }
          }
        }
      }
      & > .item-listen {
        @include flex(center, center, row);
        gap: $space-4;
        span {
          width: 36px;
          color: themed("txt-second");
          font-size: $size-14;
          font-weight: $font-light;
          text-align: center;
        }
        .button-like {
          visibility: hidden;
          &.active {
            visibility: visible;
          }
          i {
            --size: 36px;
            width: var(--size);
            height: var(--size);
            @include flex(center, center);
            color: $color-primary1;
            font-size: $size-18;
          }
        }
      }
    }
  }
}
