@use "../../scss/" as *;

.UserSetting {
  @include themify($themes) {
    position: relative;
    &__avt {
      --size: 52px;
      width: var(--size);
      height: var(--size);
      position: relative;
      border-radius: 50%;
      cursor: pointer;
      border: 2px solid $color-primary1;
      @include tooltip(bottom, center);

      img {
        z-index: 1;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }

    &__dropdown {
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      background-color: themed("bg-1");
      // padding: $space-4;
      border-radius: $space-12;
      box-shadow: themed("box-shadow");
      width: 260px;
      overflow: hidden;
      display: none;

      &.active {
        display: block;
      }

      &__user {
        @include flex(center, unset);
        gap: $space-8;
        padding: $space-14;

        img {
          --size: 60px;
          border: 2px solid $color-primary1;
          width: var(--size);
          height: var(--size);
          border-radius: 50%;
        }

        &__desc {
          h4 {
            font-size: $size-16;
            color: themed("txt-main");
            margin-bottom: $space-4;
          }
          span {
            font-size: $size-16;
            background-color: $color-gray;
            color: $color-white;
            border-radius: $radius-8;
            padding: 0 $space-8;
          }
        }
      }

      &__darkMode {
        @include flex(center, space-between);
        padding: $space-14;
        &__label {
          i {
            margin-right: $space-12;
            font-size: $size-18;
            color: themed("txt-main");
          }
          span {
            margin-right: $space-12;
            font-size: $size-16;
            color: themed("txt-main");
          }
        }
        button {
          text-align: right;
          .switch {
            position: relative;
            cursor: pointer;
            width: 48px;
            height: 24px;
            display: block;
            margin: 0 auto;
            overflow: hidden;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            background: $color-rgba-black;
            border-radius: 100rem;
            transition: background-color 0.25s linear;
          }

          .switch:after {
            --size: 20px;
            content: "";
            position: absolute;
            width: var(--size);
            height: var(--size);
            border-radius: 50%;
            background-color: #fff;
            top: 2px;
            left: 2px;
            transition: background-color 0.25s linear, transform 0.25s linear;
          }

          .switch-input {
            display: none;
          }

          .switch-input:checked + .switch {
            background: $color-primary1;
          }

          .switch-input:checked + .switch:after {
            transform: translateX(24px);
            background-color: white;
          }
        }
      }
    }
  }
}

.Dropdown {
  @include flex(start, start, row);
  // overflow: hidden;
  // transform: translateX(0);
  // transform: translateX(-100%);
  min-width: 260px;
  height: 400px;
  position: relative;
  .DropdownGroup {
    @include themify($themes) {
      padding: $space-4;
      min-width: 260px;
      // transform: translateX(0);
      transition: $transition;

      position: absolute;
      top: 0;
      left: 0;

      &.level-1 {
        transform: translateX(-100%);
      }

      &.level-2 {
        transform: translateX(100%);
      }

      &.active {
        transform: translateX(0);
      }
      &__header {
        padding: 0 $space-4;
        height: 52px;
        @include flex(center, start);
        h4 {
          font-size: $size-16;
          color: themed("txt-main");
          font-weight: $font-mediun;
        }
        & > .button__back {
          border-radius: 50%;
          cursor: pointer;
          color: themed("txt-main");
          margin-right: $space-12;
          &:hover {
            background-color: $color-hover;
          }
          i {
            --size: 36px;
            width: var(--size);
            height: var(--size);
            @include flex(center, center);
            font-size: $size-18;
          }
        }
      }
    }
  }

  .DropdownItem {
    @include themify($themes) {
      // padding: $space-14;
      padding: 0 $space-12;
      @include flex(center, unset);
      cursor: pointer;
      margin-bottom: $space-8;
      height: 52px;
      &:hover {
        background-color: $color-hover;
        border-radius: $space-8;
      }
      i:first-of-type {
        margin-right: $space-12;
        font-size: $size-18;
        color: themed("txt-main");
      }

      i:last-of-type {
        font-size: $size-18;
        color: themed("txt-main");
      }
      &__body {
        flex: 1;
        h4 {
          margin-right: $space-12;
          font-size: $size-16;
          color: themed("txt-main");
          font-weight: $font-mediun;
        }
        span {
          margin-right: $space-12;
          font-size: $size-12;
          color: themed("txt-second");
        }
      }
    }
  }
}
