@use "../../scss/" as *;

.table__track {
  @include themify($themes) {
    z-index: 10;
    min-height: 200px;
    overflow: hidden;
    &__body {
      // overflow: hidden;
      &__header {
        @include flex(center, unset);
        // background-color: themed("bg-1");
        padding: $space-8 $space-14;
        border-bottom: 1.2px solid themed("border");
        font-size: $size-16;
        color: themed("txt-main");
        margin-bottom: $space-12;

        // position: sticky;
        // top: $height-header;
        // z-index: 80;

        &__line1 {
          @include flex(center, unset);
          gap: $space-8;
          & > .count {
            min-width: 20px;
            text-align: right;
          }
        }
        &__line2 {
          // @include flex(center, start);
        }
        &__line3 {
          // @include flex(center, start);
        }
        &__line4 {
          @include flex(center, end);
          & > span {
            margin-right: 48px;
          }
        }
      }
      &__empty {
        @include flex(center, center);
        flex-direction: column;
        & img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: $radius-8;
        }
        & span {
          font-size: $size-18;
          font-weight: $font-light;
          color: themed("txt-main");
          margin-top: $space-16;
          text-align: center;
        }
      }
    }
  }
}
