@use "../../scss/" as *;

.card {
  @include themify($themes) {
    padding: 0 $space-4;
    &__container {
      padding: $space-14;
      border-radius: $radius-12;
      cursor: pointer;
      transition: $transition;
      @include mobile {
        padding: $space-4;
      }
      &:hover {
        background-color: $color-hover;
      }
      &__image {
        width: 100%;
        height: 100%;
        position: relative;
        img {
          border-radius: $radius-12;
          overflow: hidden;
          width: 100%;
          height: 100%;
          overflow: hidden;
          object-fit: cover;
        }
        &__button {
          position: absolute;
          bottom: $space-10;
          right: $space-10;
          background-color: $color-rgba-black;
          padding: $space-14;
          border-radius: 50%;
          transition: $transition;
          &:hover {
            transform: scale(1.09);
          }
          i {
            color: $color-white;
            font-size: $size-24;
            --size: 18px;
            width: var(--size);
            height: var(--size);
            @include flex(center, center);
          }
        }
      }
      &__desc {
        padding: $space-8 0;
        &__title {
          font-size: $size-16;
          font-weight: $font-light;
          color: themed("txt-main");
        }
        &__info {
          &__artist {
            @include flex(center, unset);
            @include text(1);
            a {
              font-size: $size-14;
              font-weight: $font-light;
              color: themed("txt-second");
              position: relative;
              padding-right: 4px;
              display: inline-block;
              &:not(:last-child)::after {
                content: ", ";
              }
              &:hover {
                text-decoration: underline;
                color: $color-primary1;
              }
            }
          }
        }
      }
    }
  }
}
