@use "../../../scss/" as *;

.PlaylistMenu {
  @include themify($themes) {
    opacity: 0;
    transition: opacity 0.3s;
    --width: 300px;
    position: absolute;
    z-index: $z-index-menu;

    &.active {
      display: flex;
      position: absolute;
      z-index: $z-index-menu;
      opacity: 1;
    }

    &__context {
      background-color: themed("bg-2");
      width: var(--width);
      height: max-content;
      padding: $space-4;
      border-radius: $radius-8;
      box-shadow: themed("box-shadow");

      @include mobile {
        top: $height-header !important;
        width: 100%;
        height: calc(100vh - $height-header - $height-barPlaying);
        justify-content: space-between;
        flex-direction: column;
      }

      &__list {
        @include flex(start, unset);
        flex-direction: column;

        hr {
          width: 100%;
          border-top: 1px solid themed("border");
        }

        &__item {
          width: 100%;

          button {
            cursor: pointer;
            padding: $space-12 $space-12;
            border-radius: $radius-4;
            @include flex(center, start);
            gap: $space-8;
            width: 100%;
            transition: $transition;

            &:hover {
              background-color: themed("bg-3");
            }
            i {
              font-size: $size-16;
              color: themed("txt-second");
            }

            span {
              font-size: $size-16;
              transition: all 0.3s;
              color: themed("txt-main");
            }
          }
        }
      }
    }

    &__modal__delete {
      &__header {
        // padding:30px;
        padding: $space-8 $space-24;
        h3 {
          font-size: $size-16;
          color: themed("txt-second");
          font-weight: $font-medium;
        }
      }
      &__body {
        @include flex(center, end, row);
        padding: $space-12 $space-24 $space-24;
        margin-top: auto;
        gap: $space-14;
        @include mobile {
        }

        button {
          padding: $space-12 $space-24;
          border-radius: $radius-4;
          font-size: $size-16;
          font-weight: $font-medium;
          color: $color-white;
          background-color: $color-primary1;
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            scale: 0.98;
          }
        }
        & > button:first-child {
          background-color: themed("bg-3");
          color: themed("txt-main");
        }
      }
    }
  }
}
