@use "../../scss/" as *;

.SectionChartHome {
  @include themify($themes) {
    &__main {
      &__slide {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
      }
    }
  }
}
