@use "../../scss/" as *;

.trackArtist {
  @include themify($themes) {
    padding: $space-8;
    @include flex(center, unset);
    gap: $space-14;
    border-radius: $radius-8;
    width: 260px;
    cursor: pointer;
    transition: $transition;
    &:hover {
      background-color: $color-hover;
    }
    &__image {
      --size: 80px;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      background-color: themed("bg-2");
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__desc {
      min-width: 100px;
      span {
        font-size: $size-16;
        color: themed("txt-second");
        font-weight: $font-light;
      }
      h4 {
        font-size: $size-16;
        color: themed("txt-main");
        font-weight: $font-light;
        @include text(1);
      }
    }
  }
}
