@use "../../scss/" as *;

.comment__form {
  @include themify($themes) {
    @include flex(center, unset);
    width: 100%;
    // gap: $space-12;
    --size: 40px;
    padding: $size-14 0;
    &__avatar {
      width: var(--size);
      height: var(--size);
      overflow: hidden;
      border-radius: 50%;
      margin-right: $space-12;
      img {
        width: 100%;
        height: 100%;
        background-color: themed("bg-2");
        object-fit: cover;
      }
    }
    &__input {
      width: 100%;
      flex: 1;
      position: relative;
      margin-right: $space-12;
      input {
        height: var(--size);
        background-color: themed("bg-2");
        font-size: $space-16;
        padding: $space-12 $space-16;
        border-radius: $radius-25;
        color: themed("txt-main");
        position: relative;
        width: 100%;
      }
      .btn__clear {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        i {
          font-size: $size-18;
          color: themed("txt-main");
        }
      }
    }
    &__btn__submit {
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      padding: $space-4;
      cursor: pointer;
      transition: $transition;
      background-color: $color-primary1;
      transition: $transition;
      &:hover {
        scale: 0.98;
      }

      i {
        color: $color-white;
        @include flex(center, center);
        font-size: $size-24;
      }
    }
  }
}
