@use "../../scss/" as *;

.HeaderPage {
  @include themify($themes) {
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: $radius-8;
    border-top-right-radius: $radius-8;
    padding-bottom: 200px;

    &__blur {
      z-index: -1;
      .blur {
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% top;
        background-size: cover;
        filter: blur(100px);
        position: absolute;
        inset: 0px;
        display: block;
        background-color: $color-primary1;
      }
      .bg-alpha {
        background: linear-gradient(transparent, themed("bg-1"));
        height: 100%;
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        position: absolute;
      }
    }

    &__body {
      z-index: 2;
      position: relative;
      padding: 145px $space-24 $space-24 $space-24;
      @include flex(end, unset);
      gap: $space-20;
      overflow: hidden;
      @include mobile {
        padding: $space-12;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
      }

      .avatar {
        --size: 180px;
        min-width: var(--size);
        min-height: var(--size);
        width: var(--size);
        height: var(--size);
        border-radius: $radius-8;
        overflow: hidden;
        box-shadow: themed("box-shadow");
        background-color: themed("bg-2");
        position: relative;

        @include mobile {
          --size: 180px;
        }
        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover {
          .avatar__overlay {
            display: flex;
          }
        }
        &__overlay {
          background-color: $color-rgba-black;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          @include flex(center, center);
          flex-direction: column;
          cursor: pointer;
          gap: $space-8;
          display: none;
          & > i {
            font-size: $size-24;
            color: $color-white;
          }
          & > span {
            font-size: $size-16;
            color: $color-white;
          }
        }
      }

      .info {
        @include flex(unset, unset);
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 200px;
        width: 100%;
        @include mobile {
          text-align: center;
          justify-content: center;
        }

        &__category {
          font-size: $size-14;
          color: themed("txt-main");
          @include flex(center, unset);
          gap: $space-4;
          @include mobile {
            justify-content: center;
          }
          i {
            font-size: 6px;
            color: themed("txt-main");
          }
        }

        &__title {
          // font-size: 60px;
          font-weight: $font-bold;
          color: themed("txt-main");
          overflow: hidden;
          max-width: 500px;
          @include text(2);
          @include mobile {
            // font-size: $size-40;
          }
        }

        &__description {
          font-size: $size-14;
          color: themed("txt-second");
          max-width: 500px;
          @include text(2);
          // display: -webkit-box;
          // -webkit-line-clamp: 1;
          // -webkit-box-orient: vertical;
          // max-height: 74px;
          // overflow: hidden;
          // word-break: break-word;
        }
        &__desc {
          @include flex(center, unset);
          gap: $space-12;
          flex-wrap: wrap;
          margin-top: $space-8;
          @include mobile {
            text-align: center;
            justify-content: center;
          }
          &__author {
            @include flex(center, unset);
            gap: $space-8;
            &:hover {
              a {
                text-decoration: underline;
              }
            }
            img {
              background-color: themed("bg-2");
              box-shadow: themed("box-shadow");
              --size: 24px;
              width: var(--size);
              height: var(--size);
              // overflow: hidden;
              border-radius: 50%;
            }
            a {
              font-size: $size-16;
              font-weight: $font-medium;
              color: themed("txt-main");
            }
          }
          &__item {
            @include flex(center, center);

            i {
              font-size: $size-18;
              color: themed("txt-main");
              margin-right: $space-8;
            }
            span {
              font-size: $size-16;
              color: themed("txt-main");
            }
          }
        }
      }
    }
  }
}
