@use "../../scss/" as *;

.CardArtist {
  @include themify($themes) {
    padding: 0 $space-4;

    &__container {
      padding: $space-14;
      border-radius: $radius-12;
      cursor: pointer;
      transition: $transition;
      // width: 100%;
      // height: 100%;
      // background-color: $color-hover;
      @include mobile {
        padding: $space-8;
      }
      &:hover {
        background-color: $color-hover;
      }
      &__image {
        width: 100%;
        height: 100%;
        position: relative;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: themed("bg-2");
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          overflow: hidden;
          object-fit: cover;
        }
      }
      &__desc {
        padding: $space-8 0;
        @include flex(unset, center);
        flex-direction: column;
        gap: $space-4;
        &__name {
          font-size: $size-16;
          color: themed("txt-main");
          @include text(1);
          text-align: center;
        }
        &__followers {
          font-size: $size-14;
          color: themed("txt-second");
          @include text(1);
          text-align: center;
        }
        &__button {
          background: $color-gradient;
          padding: $space-8 $space-14;
          border-radius: $radius-16;
          @include flex(center, center);
          flex-direction: row;
          gap: $space-8;
          font-size: $size-14;
          color: $color-white;
          cursor: pointer;
          transition: $transition;
          width: max-content;
          margin: 0 auto;
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}
