@use "../../scss" as *;

.MainLayout {
  @include themify($themes) {
    @include flex(unset, unset);
    flex-direction: row;
    background-color: themed("bg-main");

    &__main {
      position: relative;
      width: 100%;
      max-width: calc(100% - $width-navbar);

      @include tablet {
        max-width: calc(100%);
      }

      &__content {
        min-height: 100vh;
      }
    }
  }
}
