@use "../../../scss/" as *;

.ModalAdd {
  @include themify($themes) {
    padding: $space-14 $space-24;
    &__error {
      padding: $space-12 $space-14;
      background-color: $color-red;
      border-radius: $radius-4;
      margin-bottom: $space-24;
      @include flex(center, start, row);
      i {
        font-size: $size-16;
        color: $color-white;
      }
      span {
        font-size: $size-14;
        color: $color-white;
        margin-left: $space-8;
      }
    }
    &__top {
      @include flex(start, center, row);
      --size: 300px;
      gap: $space-14;
      @include mobile {
        flex-direction: column;
        align-items: center;
      }
      &__image {
        background-color: themed("bg-2");
        overflow: hidden;
        width: var(--size);
        height: var(--size);
        border-radius: $radius-4;
        position: relative;
        @include mobile {
          width: 200px;
          height: 200px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover {
          .ModalAdd__top__image__edit {
            display: flex;
          }
        }
        &__edit {
          background-color: $color-rgba-black;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          @include flex(center, center);
          flex-direction: column;
          cursor: pointer;
          gap: $space-8;
          display: none;
          & > input {
            display: none;
          }
          & > i {
            font-size: $size-24;
            color: $color-white;
          }
          & > span {
            font-size: $size-16;
            color: $color-white;
          }
          &__delete {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            i {
              --size: 36px;
              width: var(--size);
              height: var(--size);
              @include flex(center, center);
              font-size: $size-18;
              color: themed("txt-second");
              border-radius: 50%;
              cursor: pointer;
              transition: $transition;
              &:hover {
                color: themed("txt-main");
                background-color: themed("bg-3");
              }
            }
          }
        }
      }
      &__body {
        @include flex(start, start, column);
        width: 400px;
        gap: $space-14;
        height: var(--size);
        @include mobile {
          width: 100%;
        }
        .count-letter {
          font-size: $size-12;
          color: themed("txt-second");
          position: absolute;
          bottom: 4px;
          right: 10px;
          background-color: rgba(themed("bg-3"), 0.8);
          padding: 2px 4px;
          border-radius: 4px;
        }
        &__title {
          position: relative;
          width: 100%;
          label {
            font-size: $size-14;
            font-weight: $font-medium;
            color: themed("txt-second");
            position: absolute;
            top: 0;
            left: 10px;
            transform: translateY(-50%);
            padding: 0 $space-4;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            &::before {
              background: themed("bg-2");
              content: "";
              height: 2px;
              position: absolute;
              right: 50%;
              top: 50%;
              -webkit-transform: translate(50%, -50%);
              transform: translate(50%, -50%);
              width: 110%;
              z-index: -1;
            }
          }
          input {
            padding: $space-12 $space-14;
            width: 100%;
            border-radius: $radius-4;
            background-color: themed("bg-2");
            font-size: $size-16;
            font-weight: $font-light;
            color: themed("txt-main");
            border: 1px solid transparent;
            &:focus {
              border: 1px solid themed("border");
            }

            &:focus + label {
              opacity: 1;
            }
          }
        }
        &__desc {
          position: relative;
          width: 100%;
          flex: 1;
          label {
            font-size: $size-14;
            font-weight: $font-medium;
            color: themed("txt-second");
            position: absolute;
            top: 0;
            left: 10px;
            transform: translateY(-50%);
            padding: 0 $space-4;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            &::before {
              background: themed("bg-2");
              content: "";
              height: 2px;
              position: absolute;
              right: 50%;
              top: 50%;
              -webkit-transform: translate(50%, -50%);
              transform: translate(50%, -50%);
              width: 110%;
              z-index: -1;
            }
          }
          textarea {
            background-color: themed("bg-2");
            padding: $space-12 $space-14;
            border-radius: $radius-4;
            width: 100%;
            font-size: $size-16;
            font-weight: $font-light;
            color: themed("txt-main");
            height: 100%;
            outline: none;
            border: 1px solid transparent;
            resize: none;
            &:focus {
              border: 1px solid themed("border");
            }

            &:focus + label {
              opacity: 1;
            }
          }
        }
        &__select {
          width: 100%;
        }
      }
    }
    &__bottom {
      @include flex(center, end, row);
      margin-top: $space-24;
      gap: $space-14;

      button {
        padding: $space-12 $space-24;
        border-radius: $radius-4;
        font-size: $size-16;
        font-weight: $font-medium;
        color: $color-white;
        background-color: $color-primary1;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          scale: 0.98;
        }
      }
      & > button:first-child {
        background-color: themed("bg-3");
      }
    }
  }
}
