@use "../../scss/" as *;

.CardPlaylist {
  @include themify($themes) {
    &__container {
      padding: $space-14;
      border-radius: $radius-8;
      cursor: pointer;
      transition: $transition;

      @include mobile {
        padding: $space-8;
      }
      &:hover {
        background-color: $color-hover;
        .CardPlaylist__container__image__swapper {
          display: flex;
        }

        .CardPlaylist__container__image button {
          display: flex;
        }
        .CardPlaylist__container__image {
          background-color: $color-rgba-black;
        }
      }
      &__image {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: $radius-8;
        // overflow: hidden;
        img {
          border-radius: $radius-8;
          vertical-align: middle;
          overflow: hidden;
          background-color: themed("bg-2");
          max-width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 1/1; // Ensure the image is always square
        }
        &__swapper {
          position: absolute;
          border-radius: $radius-8;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          padding: $space-12;
          transition: $transition;
          background-color: $color-rgba-black;
          display: none;
        }
        &__button {
          position: absolute;
          top: 10px;
          right: 10px;
          button {
            padding: $space-8;
            border-radius: 50%;
            @include flex(center, center);
            cursor: pointer;
            transition: $transition;
            display: none;
            @include tooltip(top, center);
            // background-color: $color-rgba-black;
            &:hover {
              background-color: $color-rgba-white;
            }
            i {
              @include flex(center, center);
              --size: 20px;
              width: var(--size);
              height: var(--size);
              font-size: $size-20;
              color: $color-bg-2;
              transition: $transition;
            }
          }
          & > .btn__like {
            &.active {
              i {
                color: $color-red;
              }
            }
          }
        }
      }
      &__desc {
        padding: $space-8 0;
        & > p {
          font-size: $size-14;
          font-weight: $font-light;
          color: themed("txt-second");
          @include flex(center, start, row);
        }
        .icon__private {
          font-size: $size-14;
          color: themed("txt-main");
          margin-right: $space-4;
        }
        &__title {
          font-size: $size-16;
          font-weight: $font-light;
          color: themed("txt-main");
          @include text(1);
        }
        &__info {
          &__artist {
            @include flex(center, unset);
            @include text(1);
            a {
              font-size: $size-14;
              font-weight: $font-light;
              color: themed("txt-second");
              position: relative;
              padding-right: 4px;
              display: inline-block;
              &:not(:last-child)::after {
                content: ", ";
              }
              &:hover {
                text-decoration: underline;
                color: $color-primary1;
              }
            }
          }
        }
      }
    }

    .modal__content {
      padding: $space-16 $space-24;
      p {
        font-size: $size-18;
        color: themed("txt-main");
      }
      &__button {
        margin-top: $space-24;
        @include flex(center, end, row);
        gap: $space-8;
        & > .btn {
          padding: $space-12 $space-24;
          border-radius: $radius-4;
          font-size: $size-16;
          font-weight: $font-medium;
          color: $color-white;
          background-color: $color-primary1;
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            scale: 0.98;
          }

          &.btn__cancel {
            background-color: themed("bg-3");
          }
        }
      }
    }
  }
}
