@use "../../scss" as *;

.AuthLayout {
  @include themify($themes) {
    @include flex(center, unset);
    flex-direction: row;
    height: 100vh;
    @include mobile {
      flex-direction: column-reverse;
    }
    &__left__header {
      position: fixed;
      top: 0;
      left: 0;
      height: $height-header;
      padding: 0 $space-32;
      @include flex(center, unset);
      &__logo {
        @include flex(center, unset);
        flex-direction: row;
        gap: 8px;
        cursor: pointer;
        img {
          --size: 50px;
          width: var(--size);
          height: var(--size);
        }
        h2 {
          font-size: $size-30;
          color: $color-primary1;
        }
      }
    }
    &__left {
      width: 50%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
      overflow: hidden;
      @include tablet {
        width: 100%;
      }
      @include mobile {
        height: 0;
      }
      & > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__body {
      width: 50%;
      padding: 0 90px;
      background-color: themed("bg-2");
      height: 100%;
      margin: auto 0;
      @include tablet {
        width: auto;
      }
      @include flex(center, center);
      @include mobile {
        padding: 90px 0;
        width: 100%;
      }
    }
  }
}
