@use "../../scss/" as *;

.Dropdown {
  @include themify($themes) {
    width: 100%;
    position: relative;

    /* width */
    ::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: themed("bg-3");
      border: none;
    }

    &__header {
      @include flex(center, space-between, row);
      cursor: pointer;
      width: 100%;
      position: relative;
      input {
        width: 100%;
        padding: $space-12 40px $space-12 $space-14;
        font-size: $size-16;
        border-radius: $radius-4;
        background-color: themed("bg-2");
        color: themed("txt-main");
        border: 1px solid transparent;
        cursor: pointer;
        &:focus {
          border: 1px solid themed("border");
        }
        &:not(:placeholder-shown) + label,
        &:focus + label {
          top: 0;
          font-size: $size-14;
          font-weight: $font-medium;
          color: themed("txt-second");
        }
      }
      label {
        position: absolute;
        left: $space-12;
        font-size: $size-16;
        color: themed("txt-main");
        font-weight: $font-light;
        transition: $transition;
        top: 50%;
        transform: translateY(-50%);
        &::before {
          background: themed("bg-2");
          content: "";
          height: 2px;
          position: absolute;
          right: 50%;
          top: 50%;
          -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
          width: 110%;
          z-index: -1;
        }
      }
      button {
        position: absolute;
        right: $space-4;
        border-radius: 50%;
        overflow: hidden;
        color: themed("txt-main");
        cursor: pointer;
        &.active {
          transform: rotate(180deg);
        }
        &:hover {
          // background-color: $color-hover;
        }
        i {
          --size: 36px;
          width: var(--size);
          height: var(--size);
          @include flex(center, center);
          font-size: $size-18;
        }
      }
    }
    &__body {
      position: absolute;
      top: calc(100% + $space-8);
      left: 0;
      width: 100%;
      max-height: 200px;
      border-radius: $radius-4;
      background-color: themed("bg-2");
      overflow: hidden;
      visibility: hidden;
      overflow-y: auto;
      z-index: 99;
      &.active {
        visibility: visible;
      }
      &__item {
        padding: $space-12 $space-14;
        @include flex(center, start, row);
        gap: $space-8;
        cursor: pointer;
        input[type="radio"] {
          appearance: none;
          --webkit-appearance: none;
          height: $space-20;
          width: $space-20;
          border: 2px solid themed("border");
          border-radius: 50%;
          cursor: pointer;
          position: relative;
          @include flex(center, center);
          //   transition: all 0.3s ease-in-out;
          &:hover {
            border-color: $color-primary1;
          }
          &::after {
            content: "";
            font-weight: 999;
            display: none;
            width: 12px;
            height: 12px;
            background-color: themed("bg-3");
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
          }
          &:checked {
            border-color: $color-primary1;
            background-color: $color-primary1;
            &::after {
              display: block;
            }
          }
        }
        span {
          font-size: $size-16;
          color: themed("txt-main");
        }
        &:hover {
          background-color: $color-hover;
        }
      }
    }
  }
}
