@use "../../scss/" as *;

.CardSong {
  @include themify($themes) {
    &__container {
      width: 100%;
      padding: $space-14;
      border-radius: $radius-8;
      cursor: pointer;
      // background-color: themed("bg-2");
      transition: $transition;

      @include mobile {
        padding: $space-8;
      }
      &:hover {
        background-color: $color-hover;
      }
      &__image {
        width: 100%;
        height: 100%;
        position: relative;
        // background-color: themed("bg-2");
        // aspect-ratio: 1/1; // Ensure the image is always square
        // border-radius: $radius-8;
        // overflow: hidden;
        img {
          background-color: themed("bg-2");
          border-radius: $radius-8;
          max-width: 100%;
          overflow: hidden;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 1/1; // Ensure the image is always square
        }
        &__button {
          position: absolute;
          bottom: $space-10;
          right: $space-10;
          background-color: $color-rgba-black;
          padding: $space-14;
          border-radius: 50%;
          transition: $transition;
          &:hover {
            transform: scale(1.09);
          }
          i {
            color: $color-white;
            font-size: $size-24;
            --size: 18px;
            width: var(--size);
            height: var(--size);
            @include flex(center, center);
          }
        }
      }

      &__desc {
        padding: $space-8 0;
        & > div {
          font-size: $size-14;
          font-weight: $font-light;
          color: themed("txt-second");
          @include flex(center, start, row);
        }
        .icon__private {
          font-size: $size-14;
          color: themed("txt-main");
          margin-right: $space-4;
        }
        &__title {
          font-size: $size-16;
          font-weight: $font-light;
          color: themed("txt-main");
          @include text(1);
        }
        &__info {
          &__artist {
            @include flex(center, unset);
            @include text(1);
            a {
              font-size: $size-14;
              font-weight: $font-light;
              color: themed("txt-second");
              position: relative;
              padding-right: 4px;
              display: inline-block;
              &:not(:last-child)::after {
                content: ", ";
              }
              &:hover {
                text-decoration: underline;
                color: $color-primary1;
              }
            }
          }
        }
      }
    }
  }
}
