@use "../../scss/" as *;

.header {
  @include themify($themes) {
    @include flex(center, space-between);
    height: $height-header;
    padding: 0 $space-32;
    // background-color: themed('bg-second');
    background-color: transparent;
    gap: $space-12;

    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - $width-navbar);
    z-index: 9;

    @include tablet {
      width: 100%;
      padding: 0 $space-14;
    }

    &.shrink {
      background-color: rgba($color: themed("bg-main"), $alpha: 0.8);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }

    &__left {
      @include flex(center, unset);
      gap: $space-12;
      &__menu {
        display: none;
      }

      @include tablet {
        &__menu {
          display: block;
        }
      }
      button {
        border-radius: 50%;
        padding: $space-4;
        cursor: pointer;
        color: themed("txt-main");
        transition: $transition;
        color: themed("txt-main");
        background-color: themed("bg-second");
        opacity: 0.8;

        @include tooltip(bottom, center);

        &:hover {
          opacity: 1;
          background-color: themed("bg-second");
        }

        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }

        i {
          --size: 36px;
          width: var(--size);
          height: var(--size);
          @include flex(center, center);
          font-size: $size-24;
        }
      }
    }

    &__center {
      flex: 1;
      &__search {
        border-radius: $radius-20;
        // border: 1px solid $color-border;
        max-width: 600px;
        padding: $space-12 $size-18;
        @include flex(center, unset);
        gap: $space-8;
        color: themed("txt-main");
        background-color: themed("bg-second");
        // background-color: themed("bg-rgba");

        i {
          font-size: $size-18;
          color: themed("txt-main");
        }

        input {
          flex: 1;
          border: none;
          outline: none;
          font-size: $size-16;
          color: themed("txt-main");
        }
      }
    }

    &__right {
      &__avt {
        --size: 52px;
        width: var(--size);
        height: var(--size);

        position: relative;
        background-clip: padding-box;
        background-image: linear-gradient(to right top, $color-primary1, $color-primary2);
        border-radius: 50%;
        :before {
          content: "";
          position: absolute;
          inset: 0;
          z-index: -1;
          margin: -10px;
          border-radius: inherit;
        }

        img {
          z-index: 1;
          border: 3px solid transparent;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
