@use "../../scss/" as *;

.header {
  @include themify($themes) {
    @include flex(center, space-between);
    height: $height-header;
    padding: 0 $space-32;
    background-color: transparent;
    gap: $space-12;

    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    // width: calc(100% - $width-navbar);
    z-index: 9;

    @include tablet {
      width: 100%;
      padding: 0 $space-14;
    }

    &.shrink {
      background-color: rgba($color: themed("bg-1"), $alpha: 0.8);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }

    &__left {
      @include flex(center, unset);
      gap: $space-12;
      &__menu {
        display: none;
      }

      @include tablet {
        &__menu {
          display: block;
        }
      }
      button {
        border-radius: 50%;
        padding: $space-4;
        cursor: pointer;
        color: themed("txt-main");
        transition: $transition;
        color: themed("txt-main");
        background-color: themed("bg-2");
        opacity: 0.8;

        @include tooltip(bottom, center);

        &:hover {
          opacity: 1;
          background-color: themed("bg-2");
        }

        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }

        i {
          --size: 36px;
          width: var(--size);
          height: var(--size);
          @include flex(center, center);
          font-size: $size-24;
        }
      }
    }

    &__center {
      flex: 1;
      &__search {
        border-radius: $radius-20;
        // border: 1px solid $color-border;
        max-width: 600px;
        padding: $space-12 $size-18;
        @include flex(center, unset);
        gap: $space-8;
        color: themed("txt-main");
        background-color: themed("bg-2");
        flex: 1;
        // background-color: themed("bg-rgba");
        @include mobile {
          display: none;
        }
        i {
          font-size: $size-18;
          color: themed("txt-main");
        }

        input {
          flex: 1;
          border: none;
          outline: none;
          font-size: $size-16;
          color: themed("txt-main");
        }
        .btn-clear {
          cursor: pointer;
          i {
            font-size: $size-16;
            color: themed("txt-main");
          }
        }
      }
    }

    &__right {
      @include flex(center, unset);
      gap: $space-12;

      &__upload {
        border-radius: 50%;
        padding: $space-4;
        cursor: pointer;
        color: themed("txt-main");
        transition: $transition;
        color: themed("txt-main");
        background-color: themed("bg-2");
        opacity: 0.8;
        position: relative;

        @include tooltip(bottom, center);

        &:hover {
          opacity: 1;
          background-color: themed("bg-2");
        }

        i {
          --size: 36px;
          width: var(--size);
          height: var(--size);
          @include flex(center, center);
          font-size: $size-20;
        }
      }

      &__notify {
        border-radius: 50%;
        padding: $space-4;
        cursor: pointer;
        color: themed("txt-main");
        transition: $transition;
        color: themed("txt-main");
        background-color: themed("bg-2");
        opacity: 0.8;
        position: relative;

        @include tooltip(bottom, center);

        &:hover {
          opacity: 1;
          background-color: themed("bg-2");
        }

        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }

        i {
          --size: 36px;
          width: var(--size);
          height: var(--size);
          @include flex(center, center);
          font-size: $size-20;
        }

        &__num {
          position: absolute;
          background-color: $color-red;
          padding: $space-4;
          border-radius: 50%;
          top: -4px;
          right: -4px;
          span {
            @include flex(center, center, unset);
            width: 12px;
            height: 12px;
            font-size: 10px;
            color: $color-white;
          }
        }
      }

      .btn__auth {
        padding: $space-12 $space-14;
        border-radius: $radius-25;
        font-size: $size-16;
        font-weight: $font-light;
        cursor: pointer;
        transition: $transition;
        &:hover {
          scale: 1.02;
        }
      }

      &__signup {
        & > button {
          background-color: transparent;
          color: $color-primary1;
          &:hover {
            background-color: $color-hover;
          }
        }
      }

      &__login {
        & > button {
          background-color: $color-primary1;
          color: $color-bg-1;
        }
      }
    }
  }
}
