@use "../../scss/" as *;

.artist-playlist {
  @include themify($themes) {
    padding: 0 $space-24;
    @include tablet {
      padding: 0 $space-14;
    }
    @include mobile {
      padding: 0 $space-12;
    }
    &__container {
      &__header {
      }
      &__body {
      }
    }
  }
}
