@use "../../scss/" as *;

.HeaderSection {
  @include themify($themes) {
    @include flex(center, space-between);
    padding: $space-14 $space-12;
    @include mobile {
      padding: $space-8 $space-8;
    }
    &__title {
      font-size: $size-24;
      font-weight: $font-medium;
      color: themed("txt-main");
    }
    &__button {
      @include flex(center, space-between);
      gap: $space-8;
      color: $color-primary1;
      // @include text-gradient($color-gradient);
      transition: $transition;
      a {
        font-size: $size-16;
        font-weight: $font-medium;
      }
      i {
        font-size: $size-18;
      }
    }
  }
}
