@use "../../../scss/" as *;

.UploadSong {
  @include themify($themes) {
    width: 100%;
    min-height: calc(100vh - $height-header - $height-barPlaying);

    @include flex(center, center, column);
    padding: $space-24;

    @include mobile {
      padding: $space-12;
    }

    &__icon {
      margin-bottom: $space-24;
      margin-top: auto;
      i {
        background-color: themed("bg-2");
        padding: 40px;
        width: max-content;
        border-radius: 50%;
        @include flex(center, center);
        font-size: 60px;
        color: themed("txt-second");
      }

      &.dragIn {
        i {
          animation: dropAnimation 2s linear 0s infinite alternate;
        }
      }
    }

    h4 {
      font-size: $size-18;
      color: themed("txt-main");
      font-weight: $font-medium;
      text-align: center;
    }

    & > p {
      font-size: $size-14;
      color: themed("txt-second");
      font-weight: $font-light;
      text-align: center;
    }

    label {
      margin-top: $space-24;
      padding: $space-8 $space-16;
      background-color: $color-primary1;
      color: $color-white;
      font-size: $size-16;
      font-weight: $font-medium;
      border-radius: $radius-4;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: scale(0.98);
      }
    }

    &__file {
      .error {
        @include flex(center, center, row);
        margin-top: $space-24;
        i {
          color: $color-red;
        }
        p {
          color: themed("txt-main");
          font-size: $size-14;
          font-weight: $font-light;
          margin-left: $space-8;
        }
      }
      .file-item {
        @include flex(unset, center, row);
        gap: $space-12;
        padding: $space-12 $space-16;
        background-color: themed("bg-2");
        border-radius: $radius-8;
        margin-top: $space-24;
        cursor: pointer;
        &__icon {
          font-size: 40px;
          color: themed("txt-main");
        }
        &__desc {
          font-size: $size-14;
          color: themed("txt-main");
          font-weight: $font-light;
          @include flex(space-between, space-between, column);
          padding: $space-4 0;
          h6 {
            font-size: $size-16;
            color: themed("txt-main");
          }
          p {
            font-size: $size-14;
            color: themed("txt-second");
          }
        }

        button {
          i {
            font-size: $space-16;
            color: themed("txt-second");
            cursor: pointer;
            padding: $space-4;
            @include flex(center, center);
            border-radius: 50%;
            width: 24px;
            height: 24px;
            &:hover {
              background-color: themed("bg-1");
            }
          }
        }
      }
    }

    &__desc {
      @include flex(center, center, column);
      margin-top: auto;
      & > p {
        font-size: $size-12;
        color: themed("txt-second");
        font-weight: $font-light;
        text-align: center;
      }

      a {
        color: $color-blue;
        font-weight: $font-medium;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
