@use "../../../scss/" as *;

.FormSong {
  @include themify($themes) {
    @include flex(unset, space-between, column);
    min-height: calc(100vh - $height-header - $space-10);
    gap: $space-12;
    padding-top: $space-24;
    &__danger {
      padding: 0 $space-24;
      // margin-top: $space-12;

      @include mobile {
        padding: 0 $space-12;
      }

      &__wrapper {
        padding: $space-12;
        border-radius: $radius-4;
        color: $color-white;
        font-size: $size-14;
        font-weight: $font-light;
        background-color: $color-green;
        @include flex(center, start, row);
        gap: $space-8;
        i {
          font-size: $size-16;
        }
      }
    }

    &__top {
      width: 100%;
      padding: 0 $space-24;

      @include mobile {
        padding: 0 $space-12;
      }
    }

    &__body {
      padding: 0 $space-24;
      @include flex(unset, unset, row);
      gap: $space-24;

      @include mobile {
        // @include flex(unset, unset, column-reverse);
        flex-direction: column-reverse;
        padding: 0 $space-12;
      }

      &__left {
        @include flex(unset, unset, column);
        flex: 1;
        gap: $space-12;
        .Form-box {
          position: relative;
          width: 100%;
          background-color: themed("bg-2");
          border-radius: $radius-4;
          border: 1.4px solid themed("border");
          padding: 0 $space-12 $space-4 $space-12;

          &.error {
            border-width: 1.8px;
            border-color: $color-red;
          }

          &:not(.error):hover {
            border-color: themed("txt-second");
          }

          &__label {
            font-size: $size-14;
            font-weight: $font-light;
            color: themed("txt-second");
            transition: opacity 0.3s ease-in-out;
            margin: $space-4 0;
          }

          input {
            width: 100%;
            font-size: $size-16;
            font-weight: $font-light;
            color: themed("txt-main");
            outline: none;
            padding: $space-4 0;
            &:focus + .Form-box {
              border-color: themed("txt-second");
            }
          }

          textarea {
            background-color: themed("bg-2");
            border-radius: $radius-4;
            width: 100%;
            height: 100px;
            font-size: $size-16;
            font-weight: $font-light;
            color: themed("txt-main");
            outline: none;
            border: 1px solid transparent;
            resize: none;
          }

          .count-letter {
            font-size: $size-12;
            color: themed("txt-second");
            font-weight: $font-light;
            text-align: right;
            margin-top: $space-4;
            text-align: right;
          }
        }

        .dropdowns {
          @include flex(unset, unset, row);

          @include tablet {
            gap: $space-12;
          }

          @include mobile {
            flex-wrap: wrap;
            gap: $space-12;
          }
        }

        .Form-author {
          @include flex(unset, unset, column);
          gap: $space-12;
          &__input {
            width: 100%;
            background-color: themed("bg-2");
            border-radius: $radius-4;
            border: 1.4px solid themed("border");
            padding: 0 $space-12 $space-4 $space-12;
            cursor: pointer;
            &__label {
              font-size: $size-14;
              font-weight: $font-light;
              color: themed("txt-second");
              transition: opacity 0.3s ease-in-out;
              margin: $space-4 0;
            }

            h4 {
              width: 100%;
              font-size: $size-16;
              font-weight: $font-light;
              color: themed("txt-second");
              outline: none;
              padding: $space-4 0;
              &:focus + .Form-box {
                border-color: themed("txt-second");
              }
            }
            &:not(.error):hover {
              border-color: themed("txt-second");
            }
          }

          &__title {
            font-size: $size-16;
            font-weight: $font-light;
            color: themed("txt-second");
          }

          &__list {
            // @include flex(unset, unset, row);
          }
        }
      }

      &__right {
        width: 200px;
        @include mobile {
          // width: 400px;
        }
        h4 {
          font-size: $size-16;
          color: themed("txt-main");
          font-weight: $font-light;
        }
        span {
          font-size: $size-14;
          color: themed("txt-second");
          font-weight: $font-light;
        }
        &__image {
          --size: 200px;
          width: var(--size);
          height: var(--size);
          position: relative;
          // aspect-ratio: 1/1;
          margin-top: $space-12;

          img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            border-radius: $radius-4;
            object-fit: cover;
          }

          .btn-delete-image {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            i {
              --size: 36px;
              width: var(--size);
              height: var(--size);
              @include flex(center, center);
              font-size: $size-18;
              color: themed("txt-second");
              border-radius: 50%;
              cursor: pointer;
              transition: $transition;
              &:hover {
                color: themed("txt-main");
                background-color: themed("bg-3");
              }
            }
          }

          &__default {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            border-radius: $radius-4;
            border: 2px dashed themed("border");
            @include flex(center, center, column);
            gap: $space-4;
            color: themed("border");
            cursor: pointer;

            &.error {
              border-color: $color-red;
            }

            &:not(.error):hover {
              background-color: rgba(themed("bg-1"), 0.9);
              border-color: themed("txt-second");
            }

            &:hover {
              i,
              span {
                color: themed("txt-second");
              }
            }

            input {
              opacity: 0;
              display: none;
            }
            i {
              font-size: 40px;
              color: themed("border");
            }
            span {
              font-size: $size-14;
              color: themed("border");
            }
          }
        }
      }
    }

    &__bottom {
      @include flex(center, end, row);
      border-top: 1px solid themed("border");
      padding: $space-12 $space-24;
      margin-top: auto;
      gap: $space-14;
      @include mobile {
      }

      button {
        padding: $space-12 $space-24;
        border-radius: $radius-4;
        font-size: $size-16;
        font-weight: $font-medium;
        color: $color-white;
        background-color: $color-primary1;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          scale: 0.98;
        }
      }
      & > button:first-child {
        background-color: themed("bg-3");
      }
    }
  }
}

.FormSong__modal {
  @include themify($themes) {
    padding: $space-24;

    h4 {
      font-size: $size-16;
      color: themed("txt-main");
      font-weight: $font-medium;
      display: block;
      // border-top: 1px solid themed('border');
    }
    &__footer {
      @include flex(center, end, row);
      margin-top: $space-24;
      // border-top: 1px solid themed("border");
      gap: $space-14;
      @include mobile {
      }

      button {
        padding: $space-12 $space-24;
        border-radius: $radius-4;
        font-size: $size-16;
        font-weight: $font-medium;
        color: $color-white;
        background-color: $color-primary1;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          scale: 0.98;
        }
      }
      & > button:first-child {
        background-color: themed("bg-3");
      }
    }
  }
}
