@use "../../scss/" as *;

.navbar {
  @include themify($themes) {
    background-color: themed("bg-2");
    height: 100vh;
    min-width: $width-navbar;
    width: $width-navbar;
    position: sticky;
    top: 0;
    left: 0;
    // box-shadow: themed("box-shadow");
    z-index: 99;
    @include flex(unset, space-between);
    flex-direction: column;

    @include tablet {
      position: fixed;
      transform: translateY(-100%);
      &.openMenu {
        transform: translateY(0);
      }
    }

    &__container {
      overflow-y: auto;
      // padding: $space-14;

      &__top {
        @include flex(center, center);
        flex: row;
        gap: $space-8;
        // height: $height-header;
        padding: $space-24 $space-24;

        &__logo {
          font-weight: $font-bold;
          // @include text-gradient($color-gradient);
          @include flex(center, center);
          color: $color-primary1;

          gap: $space-4;
          flex-direction: row;

          &.closeMenu {
            display: none;
          }

          img {
            --size: 50px;
            width: var(--size);
            height: var(--size);
          }
          h2 {
            font-size: $size-30;
          }
        }
      }

      &__content {
        padding: 0 $space-24;

        &__group {
          padding: $space-4 0;

          &__title {
            font-size: $size-18;
            color: themed("txt-main");
            font-weight: $font-bold;
            margin-bottom: $space-8;
            // @include tablet {
            //   display: none;
            // }
          }
          &__list {
            &__item {
              @include flex(center, unset);
              gap: 10px;
              padding: $space-14 $space-18;
              color: themed("txt-second");
              border-radius: $radius-12;
              transition: $transition;
              margin-bottom: $space-8;
              cursor: pointer;

              &:hover {
                background-color: $color-hover;
                color: themed("txt-main");
              }
              &.active {
                background-color: $color-hover;
                color: $color-primary1;
              }
              &__icon {
                --size: 20px;
                width: var(--size);
                height: var(--size);
                @include flex(center, center);
                font-size: $size-18;
              }
              &__title {
                font-size: $size-16;
                font-weight: $font-mediun;
              }
            }
          }
        }
      }
    }
  }
}
