$mobile-width: 700px;
$tablet-width: 1133px;

$width-navbar: 240px;
$width-navbar-tablet: 70px;

$height-barPlaying: 72px;

$transition: all 0.3s;

$space-2: 2px;
$space-4: 4px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-14: 14px;
$space-16: 16px;
$space-18: 18px;
$space-20: 20px;
$space-24: 24px;
$space-28: 28px;
$space-32: 32px;
$space-36: 36px;

$color-primary1: #8568f5;
$color-primary2: #3dc3c0;
$color-hover: rgba(124, 116, 238, 0.1);

$color-white: #fff;
$color-black: #0000;
$color-grey: #ccc;
$color-bg-main: #ffffff;
$color-bg-second: #f9f9f9;
$color-txt-main: #121212;
$color-txt-second: #6b6b6b;

$color-bg-main-dark: #121212;
$color-bg-second-dark: #252525;
$color-txt-main-dark: #f5f5f5;
$color-txt-second-dark: #868686;

$color-rgba-black: rgba(18, 18, 18, 0.5);

$color-border: #b9b9b9;

$box-shadow: 0 5px 20px 0 #ccd1d6;
$box-shadow-dark: 0 5px 20px 0 #2c2c2c;


$color-gradient: linear-gradient(90deg, $color-primary2 -15.19%, $color-primary1 111.92%);

$font-bold: 900;
$font-mediun: 600;
$font-light: 400;

$size-16: 16px;
$size-18: 18px;
$size-24: 24px;
$size-30: 30px;

$radius-4: 4px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-25: 25px;

