$mobile-width: 700px;
$tablet-width: 1133px;

$width-navbar: 240px;
$width-navbar-hide: 70px;

$height-header: 80px;
$height-barPlaying: 82px;

$transition: all 0.3s;

$space-2: 2px;
$space-4: 4px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-14: 14px;
$space-16: 16px;
$space-18: 18px;
$space-20: 20px;
$space-24: 24px;
$space-28: 28px;
$space-32: 32px;
$space-36: 36px;

$color-primary1: #d23259;
$color-primary2: #d23259;
$color-hover: rgba(#d23259, 0.1);

$color-overlay: rgba(0, 0, 0, 0.6);

$color-white: #fff;
$color-black: #000000;
$color-gray: #dadada;
$color-blue: #007aff;
$color-red: #ff3333;

$color-bg-1: #ffffff;
$color-bg-2: #f1f1f1;
$color-bg-3: #cccccc;

$color-txt-main: #121212;
$color-txt-second: #6b6b6b;

$color-bg-1-dark: #121212;
$color-bg-2-dark: #1a1a1a;
$color-bg-3-dark: #292929;

$color-txt-main-dark: #f5f5f5;
$color-txt-second-dark: #868686;

$color-rgba-black: rgba(18, 18, 18, 0.5);
$color-rgba-white: rgba(255, 255, 255, 0.8);

$color-border: #878787;

$box-shadow-light: 0 -4px 32px rgba(0, 0, 0, 0.2);
$box-shadow-dark: 0 9px 32px rgba(0, 0, 0, 0.8);

$color-gradient: linear-gradient(
  90deg,
  $color-primary2 -15.19%,
  $color-primary1 111.92%
);

$font-bold: 900;
$font-mediun: 500;
$font-light: 400;

$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-24: 24px;
$size-30: 30px;

$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-25: 25px;
