$mobile-width: 700px;
$tablet-width: 1366px;

$transition: all 0.3s;

$space-2: 2px;
$space-4: 4px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-14: 14px;
$space-16: 16px;
$space-18: 18px;
$space-20: 20px;
$space-24: 24px;
$space-28: 28px;
$space-32: 32px;
$space-36: 36px;

$color-white: #fff;
$color-black: #0000;
$color-grey: #ccc;
$color-primary: #007aff;

$color-body-light: #f3f4fa;
$color-main-light: #fff;
$color-bg3-light: #f9fcff;
$color-txt-light: #2d2d2d;
$color-txt-light-extra: #6a6a6a;

$color-body-dark: #121212;
$color-main-dark: #202020;
$color-bg3-dark: #323232;
$color-txt-dark: #fff;
$color-txt-dark-extra: #cacaca;

$font-bold: 800;
$font-mediun: 600;
$font-light: 400;

$size-16: 16px;
$size-18: 18px;
$size-30: 30px;

$radius_4: 4;
$radius_8: 8;
$radius_10: 10;
$radius_15: 15;
$radius_20: 20;
$radius_25: 25;
